{% extends 'base.html' %}
{% block content %}
    <h3>
        Order List:
    </h3>

    <table class="table">
        <tbody>
        {% for i in object_list %}
            <tr>
                <th scope="row">{{ i.pk }}</th>
                <td>{{ i }}</td>
                <td>{{ i.order_quantity }}</td>
                <td>{{ i.order_date }}</td>
                <td>{{ i.status }}</td>
                {% csrf_token %}
                <td>
                    {% if user.is_authenticated %}
                        <form action="{% url 'order_done' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{ i.pk }}" name="q">
                            <input type="submit" value="{{ i.status }}">
                        </form>
                    {% else %}
                        {{ i.status }}
                    {% endif %}
                </td>
        {% endfor %}
        </tbody>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">TITLE</th>
            <th scope="col">Quantity</th>
            <th scope="col">Date</th>
            <th scope="col">Oder Status</th>
            <th scope="col">Oder Status</th>
        </tr>
        </thead>
            </table>


{% endblock %}